name: Main
on:
  push:
    branches:
      - master
    paths-ignore:
      - ".gitignore"
      - ".github/dependabot.yml"
      - "deny.toml"
  pull_request:
    paths-ignore:
      - ".gitignore"
      - ".github/dependabot.yml"
      - "deny.toml"
env:
  CARGO_TERM_COLOR: always
jobs:
  typos:
    name: Typos
    runs-on: ubuntu-latest
    steps:
      - name: Clone repo
        uses: actions/checkout@v6

      - name: Check typos
        uses: crate-ci/typos@v1.40.0

  format:
    name: Format
    runs-on: ubuntu-latest
    steps:
      - name: Clone repo
        uses: actions/checkout@v6

      - name: Cache crates
        uses: Swatinem/rust-cache@v2

      - name: Install Taplo
        run: cargo install --locked taplo-cli

      - name: Format
        run: |
          cargo fmt --all --check
          taplo fmt --check

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Clone repo
        uses: actions/checkout@v6

      - name: Instal stable toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy

      - name: Cache crates
        uses: Swatinem/rust-cache@v2

      - name: Clippy
        run: cargo clippy --workspace --all-features --tests --benches --examples -- -D warnings

      - name: Rustdoc
        run: |
          cargo rustdoc --all-features -- -D warnings
          cargo rustdoc -p bevy_replicon_example_backend -- -D warnings

  doctest:
    name: Doctest
    runs-on: ubuntu-latest
    steps:
      - name: Clone repo
        uses: actions/checkout@v6

      - name: Instal stable toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Cache crates
        uses: Swatinem/rust-cache@v2

      - name: Test doc
        run: cargo test --workspace --all-features --doc

  feature-combinations:
    name: Feature combinations
    runs-on: ubuntu-latest
    steps:
      - name: Clone repo
        uses: actions/checkout@v6

      - name: Instal stable toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Cache crates
        uses: Swatinem/rust-cache@v2

      - name: Install Cargo Hack
        run: cargo install cargo-hack

      - name: Check feature combinations
        run: cargo hack check --feature-powerset
        env:
          RUSTFLAGS: -Aunused -Dwarnings

  no-std-portable-atomic:
    name: Without atomics and std
    runs-on: ubuntu-latest
    steps:
      - name: Clone repo
        uses: actions/checkout@v6

      # Use the same target platform as Bevy (Game Boy Advance).
      - name: Instal stable toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: thumbv6m-none-eabi

      - name: Cache crates
        uses: Swatinem/rust-cache@v2

      - name: Check compilation
        run: cargo check --target thumbv6m-none-eabi --no-default-features --features client,server,bevy/critical-section

  wasi:
    name: WASI
    runs-on: ubuntu-latest
    steps:
      - name: Clone repo
        uses: actions/checkout@v6

      - name: Instal stable toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: wasm32-wasip1

      - name: Cache crates
        uses: Swatinem/rust-cache@v2

      - name: Install Wasmtime
        uses: bytecodealliance/actions/wasmtime/setup@v1

      - name: Test
        run: cargo test --target wasm32-wasip1
        env:
          CARGO_TARGET_WASM32_WASIP1_RUNNER: wasmtime

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      # We're running into a space limit,
      # which causes `ld` to terminate with a bus error.
      - name: Free disk space
        uses: endersonmenezes/free-disk-space@v3
        with:
          remove_android: true
          rm_cmd: "rmz"

      - name: Clone repo
        uses: actions/checkout@v6

      - name: Instal stable toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Cache crates
        uses: Swatinem/rust-cache@v2

      - name: Install LLVM tools
        run: rustup component add llvm-tools-preview

      - name: Install Tarpaulin
        run: cargo install cargo-tarpaulin

      - name: Test
        run: cargo tarpaulin --workspace --all-features --all-targets --engine llvm --out lcov --exclude-files benches/* example_backend/examples/* example_backend/tests/*

      - name: Upload code coverage results
        if: github.actor != 'dependabot[bot]'
        uses: actions/upload-artifact@v6
        with:
          name: code-coverage-report
          path: lcov.info

  codecov:
    name: Upload to Codecov
    if: github.actor != 'dependabot[bot]'
    needs:
      [
        typos,
        format,
        lint,
        doctest,
        feature-combinations,
        no-std-portable-atomic,
        wasi,
        test,
      ]
    runs-on: ubuntu-latest
    steps:
      - name: Clone repo
        uses: actions/checkout@v6

      - name: Download code coverage results
        uses: actions/download-artifact@v6
        with:
          name: code-coverage-report

      - name: Upload to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
